body{
    margin:0;
    padding:0;
    background:#f0f0f0;
    font-family: 'Helvetica', sans-serif;

}
/*style for navbar*/
.navbar{
    margin-top: 1%;
    margin-right: 2.7%;
    margin-left: 1.5%;
}
/*style for logo*/
.navbar-logo{
    color: black;
    font-size: 2em;
    font-weight: 500;
    margin-left: 0%;
}
/*dialing in the fontsize of the navbar-listitems too big and search looks scuffed*/
.nav li a{
    color:black;
    font-size: 1.2em;
}

#navbarcart{
    transform: translateY(-55%);
}
#navbarsvgcart{
    transform: translateY(50%);
}