<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
  <!--meta data for crossdevice scaling -->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap base-stylesheet without JS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- navbar specific stylesheet -->
  <link th:href="@{/resources/css/navbar.css}" rel="stylesheet" href="/resources/css/navbar.css" type="text/css"/>
  <!--JS for dropdowns-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

  <title>Customermanagement</title>
</head>

<body>
<div th:include="navbar :: navbar"></div>
<section layout:fragment="content">
  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle" id="customerTable">
      <thead>
        <tr>
          <th th:text="#{customers.username}">Username</th>
          <th th:text="#{customers.firstname}">Firstname</th>
          <th th:text="#{customers.lastname}">Lastname</th>
          <th th:text="#{customers.address}">Address</th>
          <th th:text="#{customers.city}">City</th>
          <th th:text="#{customers.zip}">Zip</th>
          <th th:text="#{customers.email}">Email</th>
          <th th:text="#{customers.openOrders}">Open orders</th>
          <th th:text="#{customers.actions}"> Actions </th>
        </tr>
      </thead>
      <tbody>
        <tr th:each=" customer : ${customerList}">
          <td th:text="${customer.userAccount.username}">Paul123</td>
          <td th:text="${customer.userAccount.firstname}">Paul</td>
          <td th:text="${customer.userAccount.lastname}">lastname</td>
          <td th:text="${customer.address}">Nöthnitzer Straße 46</td>
          <td th:text="${customer.city}">Dresdem</td>
          <td th:text="${customer.zip}">01469</td>
          <td th:text="${customer.userAccount.email}">email@yy.de</td>
          <td th:text="${openOrders.get(customer.getId())}">0</td>
          <td>
            <form method="post" role="form" class="ui form" id="form" th:action="@{/customermanagement}">
              <input type="hidden" id="customerId" name="customerId" th:value="${customer.getId()}">
              <button class="btn btn-danger" type="submit" name="action" value="delete">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<script>
  $('#customerTable').DataTable();
</script>
</body>
</html>