<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Bootstrap base-stylesheet without JS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <!-- registration specific stylesheet -->
    <link href="/resources/css/form.css" rel="stylesheet"
          th:href="@{/resources/css/form.css}" type="text/css"/>
    <!-- navbar specific stylesheet -->
    <link href="/resources/css/navbar.css" rel="stylesheet" th:href="@{/resources/css/navbar.css}" type="text/css"/>
    <!--JS for dropdowns-->
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <title>Registration</title>

</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class=".center">
    <form class="ui form" id="centeredform" method="post" role="form" th:action="@{/register}"
          th:object="${registrationForm}">
        <div class="g-3">
            <label class="form-label" for="InputUsername" th:text="#{registration.username}">Username</label>
            <input aria-describedby="usernameHelp" class="form-control" id="InputUsername"
                   placeholder="Please enter your Username." required="required"
                   th:errorclass="fieldError" th:field="*{username}" type="text">
            <p placeholder="Your Username needs to be entered." th:errors="*{username}"
               th:if="${#fields.hasErrors('username')}"></p>
        </div>
        <div class="row g-3">
            <label class="form-label" th:text="#{registration.name}">Name</label>
            <div class="col">
                <!--<label class="form-label" th:text="#{registration.firstname}" for="firstname">firstname</label>-->
                <input aria-label="firstname" class="form-control" id="firstname" name="firstname"
                       placeholder="First name"
                       required="required" th:errorclass="fieldError" th:field="*{firstname}" type="text">
                <p placeholder="Your Firstname needs to be entered." th:errors="*{firstname}"
                   th:if="${#fields.hasErrors('firstname')}"></p>
            </div>
            <div class="col">
                <!--<label class="form-label" th:text="#{registration.lastname}" for="lastname"></label>-->
                <input aria-label="lastname" class="form-control" id="lastname" name="lastname" placeholder="Last name"
                       required="required" th:errorclass="fieldError" th:field="*{lastname}" type="text">
                <p placeholder="Your Lastname needs to be entered." th:errors="*{lastname}"
                   th:if="${#fields.hasErrors('lastname')}"></p>
            </div>
        </div>
        <div class="row g-3">
            <label class="form-label" th:text="#{registration.address}">Address</label>
            <div class="col-6">
                <!--<label class="form-label" th:text="#{registration.address}" for="address"></label>-->
                <input aria-label="address" class="form-control" id="address" name="address" placeholder="Address"
                       required="required" th:errorclass="fieldError" th:field="*{address}" type="text">
                <p placeholder="Your Address needs to be entered." th:errors="*{address}"
                   th:if="${#fields.hasErrors('address')}"></p>
            </div>
            <div class="col-4">
                <!--<label class="form-label" th:text="#{registration.address}" for="city"></label>-->
                <input aria-label="city" class="form-control" id="city" name="city" placeholder="City"
                       required="required" th:errorclass="fieldError" th:field="*{city}" type="text">
                <p placeholder="Your City needs to be entered." th:errors="*{city}"
                   th:if="${#fields.hasErrors('city')}"></p>
            </div>
            <div class="col">
                <!--<label class="form-label" th:text="#{registration.zip}" for="zip"></label>-->
                <input aria-label="zip" class="form-control" id="zip" name="zip" placeholder="Zip" required="required"
                       th:errorclass="fieldError" th:field="*{zip}" type="text">
                <p placeholder="Your Zip needs to be entered." th:errors="*{zip}"
                   th:if="${#fields.hasErrors('zip')}"></p>
            </div>
        </div>
        <div class="g-3">
            <label class="form-label" for="InputEmail" th:text="#{registration.email}">Email address</label>
            <input aria-describedby="emailHelp" class="form-control" id="InputEmail"
                   placeholder="Plese enter your email." required="required"
                   th:errorclass="fieldError" th:field="*{email}" type="text">
            <p placeholder="Your Email needs to be entered." th:errors="*{email}"
               th:if="${#fields.hasErrors('email')}"></p>
        </div>
        <div class="g-3">
            <label class="form-label" for="password" th:text="#{registration.password}">Password</label>
            <input aria-label="password" class="form-control" id="password" name="password"
                   placeholder="Please enter a Password."
                   required="required" th:errorclass="fieldError" th:field="*{password}"
                   type="password">
            <p placeholder="Your Password needs to be entered." th:errors="*{password}"
               th:if="${#fields.hasErrors('password')}">errormessage</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="passwordValidation"
                   th:text="#{registration.passwordValidation}">Password</label>
            <input aria-label="passwordValidation" class="form-control" id="passwordValidation"
                   name="passwordValidation"
                   placeholder="Please enter your Password again." required="required" th:errorclass="fieldError"
                   th:field="*{passwordValidation}" type="password">
            <p placeholder="Your Password needs to be entered." th:errors="*{passwordValidation}"
               th:if="${#fields.hasErrors('passwordValidation')}">errormessage2</p>
            <div class="form-text" id="passwordHelp">The Password must be at least 8 Letters long, contain Numbers
                0...9, an Uppercase Letter, an Lowercase Letter and at least one special char!
            </div>
        </div>
        <button class="btn btn-outline-primary btn-lg" th:text="#{registration.submit}" type="submit">Submit</button>
    </form>
</div>
</body>
</html>